/* application css */
#main {font-size:200%;}
.hl {color:red;}
.btnlink_pinned {background-image: url(img/pin_sm.png);cursor: pointer;background-repeat:no-repeat;}
.btnlink_clickable {background-image: url(img/clickable_sm.png);cursor: pointer;background-repeat:no-repeat;}
.btnlink_selected {background-image: url(img/selected_sm.png);cursor: pointer;background-repeat:no-repeat;}
.selected_link {background-color: highlight}
.pinned_link {}
.btnpinlink {cursor:pointer}

.closebutton{color:black;}
.closebutton:hover {color:white;text-decoration: none; border-radius:50%; background-color: Salmon}
div[contenteditable=true] > div {
  padding: 0;
}
div[contenteditable]:focus {outline:0px solid transparent};
.scrollsyntag {height:400px;overflow-y:auto;}
.droppable {background-color:yellow;}

.panel-heading.selected {background-color:highlight}
.selected {background-color:highlight}
span.highlighted {background-color:#FFFFC2}
span.editing {background:yellow}

span.markup {border-radius:50%;border-style:dotted;border-color:gray};


.treetoc .selected {background:highlight;border-radius: 5px}
.treetoc .childnode {left:15px;position:relative;}
.treetoc .caption   {cursor:pointer;}
.treetoc .folderbutton  {cursor: pointer;text-decoration: none}
.treetoc a.folderbutton:hover {background:silver;border-radius:50%;}
.treetoc .closed {font-size:75%;}
.treetoc .opened {font-size:75%;}
.treetoc .leaf   {font-size:75%;}
.treetoc .deletebutton {background:red;color:yellow;}
.treetoc .nodelink {font-size:65%;cursor: pointer;}
.treetoc .nodelink:hover {border-radius: 8px;background: silver;text-decoration: none}
